{% assign content_item = false %}
{% if post %}
    {% assign content_item = post %}
{% else %}
    {% assign content_item = page %}
{% endif %}
<div class="post">
    <div class="section section-post-meta post">    
        <h2>            
            <a href="{{ content_item.url }}">
            {% if content_item.icon %} 
                <i class="indicator-icon {{ content_item.icon }}"></i>
            {% else %}
                <i class="indicator-icon icon-bullhorn"></i>
            {% endif %}                
                {{ content_item.title }}
            </a>
        </h2>
        <p class="meta">
            {{ content_item.date | date: "%B %e, %Y" }}{% if content_item.author %} by {% if content_item.author.url %}<a href="{{ content_item.author.url }}">{{ content_item.author.name }}</a>{% else %}{{ content_item.author.name }}{% endif %}{% endif %}
        </p>
    </div>
    {% if content_item.illustration %}{% if content_item.illustration.id %}
    <div class="section">
        <div class="illustration illustration-{{ content_item.illustration.id }}">
            <a href="/illustrations/{{ content_item.illustration.id }}" style="background-image: url('{{ content_item.illustration.url }}');"><i class="icon-zoom-in"></i></a>
        </div>
    </div>
    {% else %}
    <div class="section">
        <div class="illustration illustration-{{ content_item.illustration.id }}" style="{% if content_item.illustration.height %} height: {{content_item.illustration.height}} {% endif %}">
            <span style="background-image: url('{{ content_item.illustration.url }}');"></span>
        </div>
    </div>        
{% endif %}
{% endif %}
{% assign skipuri = "/index.html|/about.html" | split: "|" %}
{% assign pageuri = "/index.html" | split: "|" %}
{% unless skipuri contains page.url %}
{{ content }}
{% else %}
{{ content_item.content }}
{% endunless %}
{% unless skipuri contains page.url %}
<div class="section comments">
        <i class="comment-icon icon-comment-alt"></i>
        <div id="disqus_thread">
        	<script type="text/javascript">
		var disqus_shortname = 'alieceyy'; // 注意，这里的 example 要替换为你自己的短域名
		/* * * 下面这些不需要改动 * * */
		(function() {
		  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        	赠人玫瑰，手留余香！人人为我，我为人人！<p><a href="https://me.alipay.com/aliece">请我喝瓶水吧</a></p>
        </div>
    </div>
    <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fdc4ab1183cd09f11bf31f04a9047f744' type='text/javascript'%3E%3C/script%3E"));
</script>
           
{% endunless %}
</div>