<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% include assets/css/default.html %}
        {% include assets/js/default.html %}
		<style>
			section{
            	height: 800px;
            	}
    	</style>
    </head>
    <body id="{% include page/id %}">
    	
    	<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
		    <div class="container">
		      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      </a>
		      <header class="brand">Aliece</header>
		
		      <nav class="nav-collapse">
				  <ul class="nav">
				    <li><a href="../">Home</a></li>
				    <li><a href="/about" >About</a></li>
				    <li><a href="/contact">Contact</a></li>
					<li class="active dropdown">
			              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Help me<b class="caret"></b></a>
			              <ul class="dropdown-menu">
								<li class="active">
								<a href="#personal_information"><i class="icon-chevron-right"></i>personal_information</a>
								</li>
								<li class="">
								<a href="#education"><i class="icon-chevron-right"></i>education</a>
								</li>
								<li class="">
								<a href="#student"><i class="icon-chevron-right"></i>student information</a>
								</li>
								<li class="">
								<a href="#work_experience"><i class="icon-chevron-right"></i>work_experience</a>
								</li>
								<li class="">
								<a href="#job_intension"><i class="icon-chevron-right"></i>job_intension</a>
								</li>
								<li class="">
								<a href="#training_experience"><i class="icon-chevron-right"></i>training_experience</a>
								</li>
								<li class="">
								<a href="#language_ability"><i class="icon-chevron-right"></i>language_ability</a>
								</li>
								<li class="">
								<a href="#IT_skills"><i class="icon-chevron-right"></i>IT_skills</a>
								</li>
								<li class="">
								<a href="#project_experience"><i class="icon-chevron-right"></i>project_experience</a>
								</li>
								<li class="">
								<a href="#certificate"><i class="icon-chevron-right"></i>certificate</a>
								</li>
							</ul>
			            </li>
				  </ul>
				</nav>
		    </div>
		  </div>
		</div>
    	
		<div>
		    <div>
		            <div class="col-md-12">
		
		                <section id="personal_information">
		                    <div class="page-header">
		                        <h1>Personal Information</h1>
		                    </div>
		                </section>
		
						<section id="education">
							<div class="page-header">
							  <h1>Education<small>
							  </small></h1>
							  </div>
		
						</section>
		
						<section id="student">
							<div class="page-header">
							  <h1>Student Information<small>
							  </small></h1>
							  </div>
						</section>
		
						<section id="work_experience">
							<div class="page-header">
							  <h1>Work Experience<small>
							  </small></h1>
							  </div>
		
						</section>
		
						<section id="job_intension">
							<div class="page-header">
							  <h1>Job Intension<small>
							  </small></h1>
							  </div>
		
						</section>
		
						<section id="training_experience">
							<div class="page-header">
							  <h1>Training Experience<small>
							  </small></h1>
							  </div>
		
						</section>
		
						<section id="language_ability">
							<div class="page-header">
							  <h1>Language Ability<small>
							  </small></h1>
							  </div>
		
						</section>
		
						<section id="IT_skills">
							<div class="page-header">
							  <h1>IT Skills<small>
							  </small></h1>
							  </div>
		
						</section>
		
						<section id="project_experience">
							<div class="page-header">
							  <h1>Project Experience<small>
							  </small></h1>
							  </div>
		
						</section>
		
						<section id="certificate">
							<div class="page-header">
							  <h1>Certificate<small>
							  </small></h1>
							  </div>
		
						</section>
		
		            </div>
		    </div>
			
		</div>


	<script type="text/javascript">
	$(function() {
		$('.nav li').click(function(e) {
			$('.nav li').removeClass('active');
			//$(e.target).addClass('active');
			$(this).addClass('active');
		});

		$("a[href*=#]").click(function() {
                $("html, body").animate({
                    scrollTop: ($($(this).attr("href")).offset().top - 50)+ "px"
                }, {
                    duration: 1000,
                    easing: "swing"
                });
                return e;
            });
	});

	</script>
    </body>
</html>
